
* {
  background: #fff;
}

#wrapper {
  width: 50%;
  margin: auto;
  padding-right: 1.5rem;
}

h1 {
  margin-top: 5rem;
  color: dodgerblue;
  font-size: 1.7rem;
  text-align: center;
}

div {
  padding: 0.5rem;
}

button {
  margin-top: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  background: dodgerblue;
  border-radius: 10px;
  font-size: 1rem;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: dodgerblue;
}

input {
  border: 1px dodgerblue solid;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1.2rem;
  background: #fff;
}

input:focus {
  background: dodgerblue;
}

input.current {
  color: #000;
  padding-left: 1rem;
}

input.selected {
  border: none;
}

#result {
  font-size: 1.2rem;
  border: 1px dodgerblue solid;
  width: 100%;
  border-radius: 10px;
  background: dodgerblue;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}
